<p>shop works!</p>

<form [formGroup]="appForm" (ngSubmit)="onSubmit(appForm.value)">
<div class="form-group">
<label>{{question}}</label>
<input type="text" class="form-control" formControlName="answer">
</div>
<button type="submit" class="btn btn-success">Tell Me</button>
</form> <br/>
<label *ngIf="answer != 'unknown'">Your name is {{answer}}</label>
<app-info [name]="answer" *ngIf="answer != 'unknown'"></app-info>